@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
}
.nav-link {
  @apply px-3 cursor-pointer hidden lg:inline-flex text-base text-textGray;
}
.link {
  @apply px-2 cursor-pointer flex;
}
.navigations::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.btn {
  @apply text-base px-4 py-1 bg-bgGray cursor-pointer rounded-md;
}
.z-1 {
  z-index: 1000;
}
.icon {
  @apply w-6;
}
